*{
    margin:0;
    padding:0;
}

header{

    background-color: #055052;
    height: 200px;
    color:white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header h1{
    font-size: 110px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px black;
}

header h2{
    font-size: 40px;
    letter-spacing: 3px;
}

body{
    font-family: 'Roboto', sans-serif;
}
nav{
    height: 40px;
    background-color: #53B8BB;
    padding-top: auto;
    text-align: center;
    box-shadow: 1px 1px 3px black;
    position: sticky;
    top : 0;
}

nav li{
    display: inline-block;
    padding: 10px 30px 0 0;
}

nav a{
    text-decoration: none;
    background-color: #F3F2C9;
    color: black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

nav a:hover{
    color:black;
    box-shadow: 2px 2px 2px;
}

.wrapper{
    display:grid;
    grid-template-columns: 1fr 3fr;
    width : 90%;
    max-width: 1000px;
    margin: auto;
    
}

.wrapper aside{
    background-color: #53B8BB;
    height: 1200px;

}

.wrapper aside img{
    width:200px;
    border-radius: 10px 10px 10px 10px;
    padding-left: 10%;
    padding-bottom: 10px;
}

.title{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    background-color: #055052;
    box-shadow: 2px 2px 5px #055052;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.wrapper section{
    padding: 5px;
}

#deux{
    margin-top: 300px;
}

.wrapper aside ul{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

}
.wrapper aside p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.presentation{
    margin-top: 0;
    margin-bottom: 10px;
    padding: 40px;
    text-align: center;
    background-color: #53B8BB;
    box-shadow: 2px 2px 5px #53B8BB;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

}
.wrapper section ul{
    list-style-type: none;
    margin-left: 100px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.bold{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

audio{
    padding: 20px;
}

.anim{
        margin-left: 50px;
        padding:300px;
        background-color: coral;
        animation: square-to-circle 2s infinite alternate;

        text-align: center;
}

@keyframes square-to-circle {
    0% {
    border-radius:0 0 0 0;
    background:coral;
    }
    25% {
    border-radius:10% 10% 10% 10%;
    background:darksalmon;
    }
    50% {
    border-radius:25% 25% 25% 25%;
    background:indianred;
    }
    75% {
    border-radius:40% 40% 40% 40%;
    background:lightcoral;
    }
    100% {
    border-radius:50%;
    background:darksalmon;
    }
    }

footer{
    background-color: #055052;
    height: 30px;
    text-align: center;
    color: white;
    padding-top: 10px;
    box-shadow: 1px 1px 3px black;
}

footer p{
    
    position: relative;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
}