nav {
    border-bottom: 1px solid black;
    text-align: center;
    width: 1000px;
    
}

.formulaire{

    position : relative;
    left : 900px; top:200px;
    width: 300px;
    animation: anim 5s infinite;

}
.menu ol {
    list-style-type: none;
    padding-left: 0;
}

.menu {
    display: inline-block;
}

.menu a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

.Intitulé{
    width: 500px;
    position : relative;
    top: -1400px; left: 300px;
    background-color:aquamarine;
    text-align: center;
    font-family: arial;

       
}

img{
	width: 100px;
	height: 100px;

}

.Gauche{

    width: 250px;
    height: 610px;
    position: relative;
    top: -135px; left: 0px;
    background-color: aquamarine;
    font-family: georgia;   
}

#deux{

    position: relative;
   top: -155px; left: 0px;
}

.Droite{

    width: 500px;
    position: relative;
    top: -1400px; left: 300px;
    font-family: georgia;


}

@keyframes anim {
    from, to { color: hsl(324, 70%, 45%); }
    10%      { color: hsl(360, 65%, 45%); }
    20%      { color: hsl( 36, 80%, 45%); }
    30%      { color: hsl( 72, 75%, 35%); }
    40%      { color: hsl(108, 65%, 35%); }
    50%      { color: hsl(144, 75%, 35%); }
    60%      { color: hsl(180, 75%, 35%); }
    70%      { color: hsl(216, 60%, 45%); }
    80%      { color: hsl(252, 65%, 50%); }
    90%      { color: hsl(288, 60%, 40%); }
}
